<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clinic Management System</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="stylesheet" href="~/lib/DataTables/DataTables-1.11.3/css/dataTables.bootstrap5.css" />*@
</head>
<body>
    <header>

    </header>
    <div class="container" id="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!--<footer class="border-top footer text-muted">-->
    @*<div class="container">
            &copy; 2021 - STONE CLINIC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>*@
    <!--</footer>-->
    <script src="https://kit.fontawesome.com/3d965b886b.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
