@model CmsClient.ViewModels.RegisterForm
<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        .form-gap {
            padding-top: 30px;
        }

        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: #2828cd;
        }

        .btn-color {
            background-color: #2828cd;
            color: white;
        }

        .container:before {
            background-image: url("https://static.vecteezy.com/system/resources/previews/002/528/823/non_2x/doctor-hands-in-gloves-typing-on-computer-keyboard-telemedicine-or-medical-technology-concept-background-top-view-photo.jpg");
            width: 100%;
            height: 100%;
            background-size: cover;
            content: "";
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
            display: block;
            /*filter: blur(2px);*/
        }
    </style>
</header>

<body>
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel">
                    <div class="panel-body">
                        <div style="float:right;">
                            <a href='@Url.Action("Login","Login")' class="btn btn-light">
                                <i class="fa fa-close"></i>
                            </a>
                        </div>
                        <div class="text-center">
                            <h3 style="color:dimgrey"><i style="margin-left:30px;" class="fa fa-user fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Username?</h2>
                            @*<h4 class="text-center">Please answer your security question, and we’ll send you instructions to reset your password.</h4>*@
                            <h4 class="text-danger">@ViewBag.userNotFound </h4>
                            <div class="panel-body">
                                <form id="forgotusername-form" role="form" autocomplete="off" class="form" method="post">
                                    <div style="color:black" class="form-group text-left">
                                        <label asp-for="Email" class="control-label"></label><span class="text-danger">*</span>
                                        <input id="email" asp-for="Email" class="form-control" placeholder="Email" type="email" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                        @*<h5 class="text-danger">@ViewBag.invalidEmail</h5>*@
                                    </div>
                                    <div style="color:black" class="form-group text-left">
                                        <label asp-for="SecurityQuestion" class="control-label"></label><span class="text-danger">*</span>
                                        <select asp-for="SecurityQuestion" class="form-control">
                                            <option>What was the name of the first school you remember attending?</option>
                                            <option>What is the name of a college you applied to but didn’t attend?</option>
                                            <option>Where was the destination of your most memorable school field trip?</option>
                                            <option>What was the name of your first stuffed toy?</option>
                                        </select>
                                        <span asp-validation-for="SecurityQuestion" class="text-danger"></span>

                                    </div>
                                    <div style="color:black" class="form-group text-left">
                                        <label asp-for="Answer" class="control-label"></label><span class="text-danger">*</span>
                                        <input id="answer" asp-for="Answer" class="form-control" placeholder="Type answer" />
                                        <span asp-validation-for="Answer" class="text-danger"></span>

                                    </div>
                                    <div class="form-group">
                                        <input name="recover-submit" class="btn btn-lg btn-color btn-block" value="Send Reset Link" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script>
        $(document).ready(function () {

            const ans = document.querySelector('#answer');
            const form = document.querySelector('#forgotusername-form');
            ans.addEventListener('keydown', function (event) {
                if (event.keyCode === 13) {
                    form.submit();
                }

            });
            document.addEventListener('keydown', function (event) {
                if (event.keyCode === 13 && event.target.nodeName === 'INPUT' || event.target.nodeName === 'SELECT') {
                    event.preventDefault();
                    var form = event.target.form;
                    var index = Array.prototype.indexOf.call(form, event.target);
                    form.elements[index + 1].focus();


                }
            });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
