@model CmsClient.Helpers.Resetpassword

@{
    ViewData["Title"] = "ResetPassword";
}


@*<div class="row">
        <div class="col-md-4">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">

                    <input asp-for="Username" value="@ViewBag.username" class="form-control" hidden />

                </div>
                <div class="form-group">
                    <label asp-for="Currentpassword" class="control-label"></label>
                    <input asp-for="Currentpassword" class="form-control" />
                    <span asp-validation-for="Currentpassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Confirmpassword" class="control-label"></label>
                    <input asp-for="Confirmpassword" class="form-control" />
                    <span asp-validation-for="Confirmpassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@
<header>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        .form-gap {
            padding-top: 70px;
        }
    </style>
</header>
<div class="form-gap"></div>
<div class="container">
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h4>Hi, @ViewBag.username, You can reset your password here!</h4>
                        <h3><i class="fa fa-key fa-4x"></i></h3>
                        <h2 class="text-center">Reset Password</h2>
                        <div class="panel-body">

                            <form asp-action="ResetPassword">
                                <input asp-for="Username" value="@ViewBag.username" class="form-control" hidden />
                                <div class="form-group">
                                    <div class="input-group">
                                        <input asp-for="Currentpassword" placeholder="New password" class="form-control" />
                                        <span asp-validation-for="Currentpassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input asp-for="Confirmpassword" placeholder="Confirm password" class="form-control" />
                                        <span asp-validation-for="Confirmpassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="btn btn-lg btn-primary btn-block" value="Change my password" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
